<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartmedicalsystem.mapper.DepartmentMapper">
    <update id="updateStatus" parameterType="com.example.smartmedicalsystem.entity.Department">
        update doctor set status=#{status} where id=#{id}
    </update>

    <insert id="managerAddDepartment" parameterType="com.example.smartmedicalsystem.entity.Department">
        INSERT INTO department (
            id,
            name,
            remark,
            status
        ) VALUES (
                     #{id},
                     #{name},
                     #{remark},
                     #{status}
                 )
    </insert>

    <update id="updateDepartment" parameterType="com.example.smartmedicalsystem.entity.Department">
        update department
        set
            name = #{name},
            remark = #{remark},
            status = #{status}
        where id = #{id}
    </update>
</mapper>
