<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smartmedicalsystem.mapper.PostsMapper">
<insert id="managerAddPosts" parameterType="com.example.smartmedicalsystem.entity.Posts">
    INSERT INTO posts (
        id,
        posts_content,
        posts_image,
        create_time,
        publisher,
        registration_id,
        publisher_type
    ) VALUES (
                 #{id},
                 #{postsContent},
                 #{postsImage},
                 #{createTime},
                 #{publisher},
                 #{registrationId},
                 #{publisherType}
             )
</insert>
    <update id="updatePosts" parameterType="com.example.smartmedicalsystem.entity.Posts">
        update posts set posts_content=#{postsContent}, posts_image=#{postsImage},
                         publisher=#{publisher}, registration_id=#{registrationId}, publisher_type=#{publisherType} where id=#{id}
    </update>
</mapper>
